/* ==========================================================
1. GLOBAL STYLES
========================================================== */

body {
    font-size: 1em;
    line-height: 1.4;
    font-size:16px;
    line-height:26px;
    font-family:$open-sans;
    font-weight:400;
    margin: 0;
    background-color:#e1e1e1;
}


/* ----- heading levels ---------*/
h1, h2, h3, h4, h5, h6{
    font-weight:400;
}
h1, h2 {
    letter-spacing:-.03em;
    line-height:1.2em;
    margin: 1em 0 .5em;
}
h1 { font-size: 2.6em;
    font-family:$open-sans-condensed;
    text-transform:uppercase;
}
h2 { font-size: 1.7em; font-weight:bold;}
// pre 08/15 h2 { font-size: 1.9em; font-weight:bold;}

h3,h4,h5,h6 { 
    letter-spacing:-.03em;
    margin: 1.5em 0 .5em;
}
h3 {font-size: 1.5em;}
// pre 08/15 h3 {font-size: 1.6em; font-weight:bold;}
h4 {font-size: 1.3em; font-weight:bold;}
// pre 08/15 h4 {font-size: 1.5em; font-weight:bold;}

h2, h3, h4{
    small{font-weight:400;}
}

h5 {font-size: 1.2em; text-transform:uppercase;}
// h5 pre 08/15 {font-size: 1.3em; text-transform:uppercase;}
h6 {font-size: 0.95em; text-transform:uppercase; font-weight:bold; margin-bottom:0;}
// h6 pre 08/15 {font-size: 1.1em;}


.heading-no-space-before-paragraph{margin-bottom:-0.5em; display:block;}

h1, h2, h3, h4, h5, h6{
    small{
        display: block;
        text-transform: none;
        color: #666;
    }
}

h1, h2{
    small{margin-top: -0.2em;}
}
h3, h4, h5, h6{
    small{margin-top: -0.1em;}
}

p { margin:1em 0; }
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(204, 204, 204);
    margin: 1em 0;
    padding: 0;
    clear:both;
}

/* alternate hr style */

.chevron{
    background: #ececec;
    position: relative;
    width: 100%;
    height: 10px;
    margin: 40px 0;
    border:0;
}

.chevron:before, .chevron:after{
    bottom: 0;
    content: "";
    display: block;
    height: auto;
    position: absolute;
    width: 50%;
    top: 0;
    z-index: 1;
}

.chevron:before{
    background-image: url(images/global/chevron_left.jpg);
    background-repeat: repeat;
    background-position:100% 0;
    right: 50%;
}

.chevron:after{
    background: url(images/global/chevron_right.jpg) repeat 0 0;
    right: 0;
}

img { vertical-align: middle; }
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea { resize: vertical;}

ul.underline-list, .widget_recent_entries ul, .widget_archive ul, .widget_categories ul , .widget_nav_menu ul{ 
    list-style-type: none; 
    padding: 0;
    margin: 0 0 1em 0;
    width: 100%;
}
ul.underline-list li, .widget_recent_entries li, .widget_archive li, .widget_categories li, .widget_nav_menu li {
    border-bottom: 1px solid #e1e1e1;
    padding: 0.2em 0;
}

ol.underline-list { 
    margin: 0 0 1em 0;
    width: 100%;
}
ol.underline-list li {
    border-bottom: 1px solid #e1e1e1;
    padding: 0.2em 0;
}
.nobr{
    white-space:nowrap; 
    clear: both;
}
.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.uppercase{
    text-transform:uppercase;
}

.fixed{position:fixed;}

.no-border{
    border-color:transparent;
}

// Wordpress Specific Clases
.sticky{background:#ececec;}

.wp-caption{
    padding-bottom: 1px;
}

.wp-caption-text{
    margin: 0.5em 0 0.7em;
    font-size:0.85em;
    text-align:center;
    border-top: 1px solid $faint-gray;
    border-bottom: 1px solid $faint-gray;
    color:$pencil-gray;
    padding: 5px 0;
}

.wp-caption img{
    float:none;
    padding: 0;
    margin: 5px;
}

.alignnone, .alignleft{
    &.wp-caption{margin: 0.4em 1em 1em 0em;}
}

.aligncenter{
    &.wp-caption{margin: 1em;}
}

.alignright{
    &.wp-caption{margin: 0.4em 0em 1em 1em;}
}

/* Alignment */
.alignleft{
    float:left;
    margin:0.4em 1em 1em 0;
}

.alignnone, .aligncenter{
    float:none;
    display:block;
    clear:both;
}

.alignnone{
    margin:0.4em 1em 1em 0em;
}
.aligncenter{
    margin: 0.4em auto 1em;
}

.alignright{
    float:right;
    margin: 0.4em 0em 1em 1em;
}

.gallery-caption{font-size:0.9em;}
.bypostauthor{text-transform:uppercase;}


/*  =======================================
        Reusable Elements
    ======================================= */

// Buttons! - Please also add to custom-editor-styles if they are used in the editor

a, a:active {
    color: $u-red;
}

a:hover, a:focus {
    color: $neon-red;
}

a:visited {
    color: $dark-red;
}



    .btn, button{
        padding:2px 10px;
        text-decoration:none;
        background:none;
        border:1px solid lighten($medium-gray,40%);
        color:$medium-gray;
        display:inline-block;
        text-align:center;
        border-radius: 3px;
        font-size:1.1em;
    }

    .btn-primary, .dark-gray-sidebar .button, .light-gray-sidebar .button, .white-sidebar .button, .red-sidebar .button{
        display:inline-block;
        text-decoration:none;
        text-align:center;
        padding:2px 10px;
        text-decoration:none;
        border:1px solid darken($u-red, 10%) !important;
        background:$u-red !important;
        color:#fff !important;
        border-radius: 3px;
        font-size:1.1em;
        transition: background 250ms ease-in-out;
        &:hover, &:focus {
            background:darken($u-red,6%) !important;
            border:1px solid darken($u-red, 12%) !important;
            cursor:pointer;
            color:#fff !important;
        }
        & a {
            color: #fff !important;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .btn-secondary{
        display:inline-block;
        text-decoration:none;
        text-align:center;
        padding:2px 10px;
        text-decoration:none;
        border:1px solid darken($pencil-gray, 10%) !important;
        background:$pencil-gray !important;
        color:#fff !important;
        border-radius: 3px;
        font-size:1.1em;
        transition: background 250ms ease-in-out;
        &:hover, &:focus {
            background:$medium-gray !important;
            border:1px solid darken($medium-gray, 5%);
            cursor:pointer;
            color:#fff !important;
        }
        & a {
            color: #fff !important;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .small{
        font-size:0.8em;
        padding:0 8px;
    }

    .large{
        font-size:1.3em;
        padding:15px 20px;
    }

    .arrow{
        font-weight:600;
        &:after{
            // glyphicon-triangle-right
            content:"\e250";
            font-size:0.8em;
            margin-left:5px;
            font-family: 'Glyphicons Halflings';
            vertical-align:middle;
            top: -1px;
            position: relative;
        }
    }

    a.uppercase{
        font-family:$open-sans-condensed;
    }

    .uppercase{
        text-transform:uppercase;
        &.btn, &.btn-primary, &.btn-secondary{
            font-size:1.5em;
        }
        &.small{font-size:1.3em;}
        &.large{font-size:1.7em;}
    }

    .btn-full-width{diplay:block; width:100%; margin-bottom:0.5em;}

    .outline-dark{
        border:1px solid #fff;
        color:#fff;
        background:none;
    }

    .outline-light{
        color:darken($pencil-gray,20%);
        border:1px solid $pencil-gray;
    }

    .outline-primary{
        background:none;
        color:$u-red !important;
        border:1px solid $u-red;
    }

    .gray-btn-wtag{
        padding:2px 10px;
        text-decoration:none;
        background-color:$pencil-gray;
        color:#fff;
        text-transform:uppercase;
        font-size:1.5em;
        font-weight:300;
        font-family:$open-sans-condensed;
        transition: background 250ms ease-in-out;
    }



a:hover, a:focus{
    &.btn, &.btn-primary, &.btn-secondary, &.outline-dark, &.outline-light, &.outline-primary, &.gray-btn-wtag{text-decoration:none !important;}
    &.btn{color:$u-red;}
    &.btn-primary, &.button{
        background:darken($u-red,6%);
        border:1px solid darken($u-red, 12%);
        cursor:pointer;
        color:#fff;
    }
    &.btn-secondary, input[type="reset"], button[type="reset"]{
        background:$medium-gray !important;
        border:1px solid darken($medium-gray, 5%);
        cursor:pointer;
        color:#fff;
    }

    &.outline-dark{background:rgba(255,255,255,0.1); color:#fff;}
    &.outline-light{background:rgba(0,0,0,0.1); border:1px solid $pencil-gray; color:darken($pencil-gray, 30%);}
    &.outline-primary{background:rgba(204,0,0,0.03); color:$u-red; border:1px solid darken($u-red, 5%);}

    &.gray-btn-wtag{background:$medium-gray; color:#fff; cursor:pointer;}

} /* End of hover, focus pseudo selectors */

button:hover, button:focus{
    color:$u-red !important;
    background:none !important;
}

.btn-tag{
    padding:2px 10px;
    background:$dark-gray;
    color:#fff;
    text-transform:uppercase;
    font-size:1.5em;
    font-weight:300;
    font-family:$open-sans-condensed;
}

div.learn-more{
    text-align:center;
    margin-top:0.75em;
}

#main-container .learn-more a{
    @extend .btn-primary;
        &:after{
            // glyphicon-triangle-right
            content:"\e250";
            font-size:0.8em;
            margin-left:5px;
            font-family: 'Glyphicons Halflings';
            vertical-align:middle;
            top: -1px;
            position: relative;
        }
}

#main-container .learn-more a:hover{
    @extend .btn-primary;
}

/* Block Quotes */
blockquote{
  border-left: 3px solid #c00;
  padding: 0.6em 1em 0.5em 1.5em;
  margin:0;
}

/* Additional Editor Components */
.drop-cap:first-letter{
    float: left;
    margin: -0.05em 0.15em 0em auto;
    padding: inherit;
    font-size: 5.72em;
    line-height: 1;
    text-indent: 0px;
    background: none repeat scroll 0% 0% transparent;
    color: inherit;
    font-style: normal !important;
    font-weight:700;
}

/* Colors */
.uu-red{color:#c00;}


/* ==================  Responsive images - taken from twentyfourteen WP theme  ======================*/

/* Responsive images. Fluid images for posts, comments, and widgets */
.tab-content,
.comment-content img,
.entry-content img,
.entry-summary img,
#site-header img,
.widget img,
.wp-caption {
    max-width: 100%;
}

/**
 * Make sure images with WordPress-added height and width attributes are
 * scaled correctly.
 */

.comment-content img[height],
.entry-content img,
.entry-summary img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
#site-header img {
    height: auto;
}

img.size-full,
img.size-large,
.wp-post-image,
.post-thumbnail img {
    height: auto;
    max-width: 100%;
}


/* ----- responsive video embed ---------*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; 
    overflow: hidden;
    margin: 3em auto;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}