@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format("woff2"), url(https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2"), url(https://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/opensans-condlight-webfont.eot");
  src: url("fonts/opensans-condlight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-condlight-webfont.woff2") format("woff2"), url("fonts/opensans-condlight-webfont.woff") format("woff"), url("fonts/opensans-condlight-webfont.ttf") format("truetype"), url("fonts/opensans-condlight-webfont.svg#open_sanscondensed_light") format("svg"); }
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ==========================================================
1. GLOBAL STYLES
========================================================== */
body {
  font-size: 1em;
  line-height: 1.4;
  font-size: 16px;
  line-height: 26px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #e1e1e1; }

/* ----- heading levels ---------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

h1, h2 {
  letter-spacing: -.03em;
  line-height: 1.2em;
  margin: 1em 0 .5em; }

h1 {
  font-size: 2.6em;
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

h2 {
  font-size: 1.7em;
  font-weight: bold; }

h3, h4, h5, h6 {
  letter-spacing: -.03em;
  margin: 1.5em 0 .5em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em;
  font-weight: bold; }

h2 small, h3 small, h4 small {
  font-weight: 400; }

h5 {
  font-size: 1.2em;
  text-transform: uppercase; }

h6 {
  font-size: 0.95em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0; }

.heading-no-space-before-paragraph {
  margin-bottom: -0.5em;
  display: block; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  display: block;
  text-transform: none;
  color: #666; }

h1 small, h2 small {
  margin-top: -0.2em; }

h3 small, h4 small, h5 small, h6 small {
  margin-top: -0.1em; }

p {
  margin: 1em 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
  clear: both; }

/* alternate hr style */
.chevron {
  background: #ececec;
  position: relative;
  width: 100%;
  height: 10px;
  margin: 40px 0;
  border: 0; }

.chevron:before, .chevron:after {
  bottom: 0;
  content: "";
  display: block;
  height: auto;
  position: absolute;
  width: 50%;
  top: 0;
  z-index: 1; }

.chevron:before {
  background-image: url(images/global/chevron_left.jpg);
  background-repeat: repeat;
  background-position: 100% 0;
  right: 50%; }

.chevron:after {
  background: url(images/global/chevron_right.jpg) repeat 0 0;
  right: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

ul.underline-list, .widget_recent_entries ul, .widget_archive ul, .widget_categories ul, .widget_nav_menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1em 0;
  width: 100%; }

ul.underline-list li, .widget_recent_entries li, .widget_archive li, .widget_categories li, .widget_nav_menu li {
  border-bottom: 1px solid #e1e1e1;
  padding: 0.2em 0; }

ol.underline-list {
  margin: 0 0 1em 0;
  width: 100%; }

ol.underline-list li {
  border-bottom: 1px solid #e1e1e1;
  padding: 0.2em 0; }

.nobr {
  white-space: nowrap;
  clear: both; }

.center-align {
  text-align: center; }

.left-align {
  text-align: left; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.uppercase {
  text-transform: uppercase; }

.fixed {
  position: fixed; }

.no-border {
  border-color: transparent; }

.sticky {
  background: #ececec; }

.wp-caption {
  padding-bottom: 1px; }

.wp-caption-text {
  margin: 0.5em 0 0.7em;
  font-size: 0.85em;
  text-align: center;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  color: #909090;
  padding: 5px 0; }

.wp-caption img {
  float: none;
  padding: 0;
  margin: 5px; }

.alignnone.wp-caption, .alignleft.wp-caption {
  margin: 0.4em 1em 1em 0em; }

.aligncenter.wp-caption {
  margin: 1em; }

.alignright.wp-caption {
  margin: 0.4em 0em 1em 1em; }

/* Alignment */
.alignleft {
  float: left;
  margin: 0.4em 1em 1em 0; }

.alignnone, .aligncenter {
  float: none;
  display: block;
  clear: both; }

.alignnone {
  margin: 0.4em 1em 1em 0em; }

.aligncenter {
  margin: 0.4em auto 1em; }

.alignright {
  float: right;
  margin: 0.4em 0em 1em 1em; }

.gallery-caption {
  font-size: 0.9em; }

.bypostauthor {
  text-transform: uppercase; }

/*  =======================================
        Reusable Elements
    ======================================= */
a, a:active {
  color: #cc0000; }

a:hover, a:focus {
  color: #ff0000; }

a:visited {
  color: #990000; }

.btn, button {
  padding: 2px 10px;
  text-decoration: none;
  background: none;
  border: 1px solid #cccccc;
  color: #666;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 1.1em; }

.btn-primary, #main-container .learn-more a, #main-container .learn-more a:hover, input[type="submit"], button[type="submit"], .enterBtn, .dark-gray-sidebar .button, .light-gray-sidebar .button, .white-sidebar .button, .red-sidebar .button .btn-primary{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  /*padding: 2px 10px;*/
  text-decoration: none;
  border: 1px solid #990000 !important;
  background: #cc0000 !important;
  color: #fff !important;
  border-radius: 3px;
  /*font-size: 1.1em;*/
  transition: background 250ms ease-in-out; }
  .btn-primary:hover, #main-container .learn-more a:hover, input[type="submit"]:hover, button[type="submit"]:hover, .enterBtn:hover, .btn-primary:focus, #main-container .learn-more a:focus, input[type="submit"]:focus, button[type="submit"]:focus, .enterBtn:focus, .dark-gray-sidebar .button:hover, .dark-gray-sidebar .button:focus, .light-gray-sidebar .button:hover, .light-gray-sidebar .button:focus, .white-sidebar .button:hover, .white-sidebar .button:focus, .red-sidebar .button:hover, .red-sidebar .button:focus {
    background: #ad0000 !important;
    border: 1px solid #8f0000;
    cursor: pointer;
    color: #fff !important; }
  .btn-primary a, #main-container .learn-more a a, #main-container .learn-more a:hover a, input[type="submit"] a, button[type="submit"] a, .enterBtn a, .dark-gray-sidebar .button a, .light-gray-sidebar .button a, .white-sidebar .button a, .red-sidebar .button a {
    color: #fff !important; }
    .btn-primary a:hover, #main-container .learn-more a a:hover, input[type="submit"] a:hover, button[type="submit"] a:hover, .enterBtn a:hover, .dark-gray-sidebar .button a:hover, .light-gray-sidebar .button a:hover, .white-sidebar .button a:hover, .red-sidebar .button a:hover {
      text-decoration: none; }

.btn-secondary, input[type="reset"], button[type="reset"] {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 2px 10px;
  text-decoration: none;
  border: 1px solid #777777 !important;
  background: #909090 !important;
  color: #fff !important;
  border-radius: 3px;
  font-size: 1.1em;
  transition: background 250ms ease-in-out; }
  .btn-secondary:hover, input[type="reset"]:hover, button[type="reset"]:hover, .btn-secondary:focus, input[type="reset"]:focus, button[type="reset"]:focus {
    background: #666 !important;
    border: 1px solid #595959;
    cursor: pointer;
    color: #fff !important; }
  .btn-secondary a, input[type="reset"] a, button[type="reset"] a {
    color: #fff !important; }
    .btn-secondary a:hover, input[type="reset"] a:hover, button[type="reset"] a:hover {
      text-decoration: none; }

.small {
  font-size: 0.8em;
  padding: 0 8px; }

.large {
  font-size: 1.3em;
  padding: 15px 20px; }

.uu-arrow {
  font-weight: 600; }
  .uu-arrow:after {
    content: "\e250";
    font-size: 0.8em;
    margin-left: 5px;
    font-family: 'Glyphicons Halflings';
    vertical-align: middle;
    top: -1px;
    position: relative; }

a.uppercase {
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif; }

.uppercase {
  text-transform: uppercase; }
  .uppercase.btn, .uppercase.btn-primary, #main-container .learn-more a.uppercase, input.uppercase[type="submit"], button.uppercase[type="submit"], .uppercase.enterBtn, .uppercase.btn-secondary, input.uppercase[type="reset"], button.uppercase[type="reset"] {
    font-size: 1.5em; }
  .uppercase.small {
    font-size: 1.3em; }
  .uppercase.large {
    font-size: 1.7em; }

.btn-full-width {
  diplay: block;
  width: 100%;
  margin-bottom: 0.5em; }

.outline-dark {
  border: 1px solid #fff;
  color: #fff;
  background: none; }

.outline-light {
  color: #5d5d5d;
  border: 1px solid #909090; }

.outline-primary {
  background: none;
  color: #cc0000 !important;
  border: 1px solid #cc0000; }

.gray-btn-wtag {
  padding: 2px 10px;
  text-decoration: none;
  background-color: #909090;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 300;
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  transition: background 250ms ease-in-out; }

a:hover.btn, a:hover.btn-primary, #main-container .learn-more a:hover, a.enterBtn:hover, a:hover.btn-secondary, a:hover.outline-dark, a:hover.outline-light, a:hover.outline-primary, a:hover.gray-btn-wtag, a:focus.btn, a:focus.btn-primary, #main-container .learn-more a:focus, a.enterBtn:focus, a:focus.btn-secondary, a:focus.outline-dark, a:focus.outline-light, a:focus.outline-primary, a:focus.gray-btn-wtag {
  text-decoration: none !important; }
a:hover.btn, a:focus.btn {
  color: #cc0000;
  background-color: #fff; }
a:hover.btn-primary, #main-container .learn-more a:hover, a.enterBtn:hover, a:hover.button, a:focus.btn-primary, #main-container .learn-more a:focus, a.enterBtn:focus, a:focus.button {
  background: #ad0000;
  border: 1px solid #8f0000;
  cursor: pointer;
  color: #fff; }
a:hover.btn-secondary, a:hover input[type="reset"], a:hover button[type="reset"], a:focus.btn-secondary, a:focus input[type="reset"], a:focus button[type="reset"] {
  background: #666 !important;
  border: 1px solid #595959;
  cursor: pointer;
  color: #fff; }
a:hover.outline-dark, a:focus.outline-dark {
  background: rgba(255, 255, 255, 0.1);
  color: #fff; }
a:hover.outline-light, a:focus.outline-light {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #909090;
  color: #444444; }
a:hover.outline-primary, a:focus.outline-primary {
  background: rgba(204, 0, 0, 0.03);
  color: #cc0000;
  border: 1px solid #b30000; }
a:hover.gray-btn-wtag, a:focus.gray-btn-wtag {
  background: #666;
  color: #fff;
  cursor: pointer; }

/* End of hover, focus pseudo selectors */
button:hover, button:focus {
  /*color: #cc0000 !important;*/
  /*background: none !important;*/
}

.btn-tag {
  padding: 2px 10px;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 300;
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif; }

div.learn-more {
  text-align: center;
  margin-top: 0.75em; }

#main-container .learn-more a:after {
  content: "\e250";
  font-size: 0.8em;
  margin-left: 5px;
  font-family: 'Glyphicons Halflings';
  vertical-align: middle;
  top: -1px;
  position: relative; }

/* Block Quotes */
blockquote {
  border-left: 3px solid #c00;
  padding: 0.6em 1em 0.5em 1.5em;
  margin: 0; }

/* Additional Editor Components */
.drop-cap:first-letter {
  float: left;
  margin: -0.05em 0.15em 0em auto;
  padding: inherit;
  font-size: 5.72em;
  line-height: 1;
  text-indent: 0px;
  background: none repeat scroll 0% 0% transparent;
  color: inherit;
  font-style: normal !important;
  font-weight: 700; }

/* Colors */
.uu-red {
  color: #c00; }

/* ==================  Responsive images - taken from twentyfourteen WP theme  ======================*/
/* Responsive images. Fluid images for posts, comments, and widgets */
.tab-content,
.comment-content img,
.entry-content img,
.entry-summary img,
#site-header img,
.widget img,
.wp-caption {
  max-width: 100%; }

/**
 * Make sure images with WordPress-added height and width attributes are
 * scaled correctly.
 */
.comment-content img[height],
.entry-content img,
.entry-summary img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
#site-header img {
  height: auto; }

img.size-full,
img.size-large,
.wp-post-image,
.post-thumbnail img {
  height: auto;
  max-width: 100%; }

/* ----- responsive video embed ---------*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin: 3em auto; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* ==========================================================
2. HEADER
========================================================== */
#header-container {
  width: 100%; }

#header-container-desktop {
  display: none; }

header {
  max-width: 1024px;
  margin: 0 auto;
  background-image: none; }

header h1 {
  font-family: 'Open Sans Condensed';
  margin: 0 0 0 0.4em;
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 0;
  /*  ----  without header background image
  color:#333;
  text-shadow: 1px 1px #fff; ---- */
  /*  ----  with header background image ---- */
  color: #fff;
  text-shadow: 1px 1px #000; }

header#masthead * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.header-color {
  background: #cc0000; }

.main-headline {
  padding: 1em 0 1em 0; }

.main-headline a {
  color: #fff; }

.main-headline a:hover {
  text-decoration: none; }

#utah-logo {
  background-image: url(images/global/ulogo.png);
  /* need a @2x version for retina */
  width: 175px;
  height: 50px;
  background-size: 185px 50px;
  background-repeat: no-repeat;
  padding: 16px;
  padding-right: 0;
  background-position: .7em 1em;
  display: inline;
  float: left; }

#block-u-logo {
  background: url(images/global/ublocklogo.png) no-repeat;
  width: 50px;
  height: 45px;
  display: inline-block;
  padding-top: 45px;
  overflow: hidden;
  margin: 12px 14px 3px 5px;
  background-size: 47px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #utah-logo {
    background-image: url(images/global/ulogo@2x.png);
    width: 175px;
    height: 50px;
    background-size: 185px 50px;
    display: inline;
    float: left; }

  #block-u-logo {
    background: url(images/global/ublocklogo@2x.png) no-repeat;
    width: 50px;
    height: 45px;
    background-size: 47px; } }
/* Parallax Background Header */
#parallax-header {
  width: 100%;
  min-height: 300px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll; }

/* ---------------------------------------
    SEARCH AREA
------------------------------------------*/
#search-area {
  background-color: white;
  float: right;
  margin: 2em 1em 0 .5em;
  position: relative; }

#search {
  border: 1px solid #abaaa8;
  padding: 6px 30px 6px 2px;
  height: 1.2em;
  width: 52px; }

#header-container #search {
  margin-bottom: 0; }

#search-btn {
  background: white url(images/global/sprite_tools.png) no-repeat -796px 4px !important;
  border: none !important;
  color: transparent !important;
  font-size: 0;
  height: 25px;
  padding: 0;
  position: absolute;
  right: 1px;
  top: 3px;
  width: 25px; }

#search-btn:hover,
#search-btn:focus,
#search-btn:active {
  background-color: #d7d7d7 !important; }

/* -- input watermark images --*/
#search.watermark {
  background: url(images/global/sprite_tools.png) no-repeat -590px 7px; }

/* ----------------------------------------------
    TOP NAVIGATION (AND BOTTOM NAV SHARED STYLES)
-------------------------------------------------*/
#top-nav {
  background: #333;
  width: 100%;
  min-height: 34px;
  z-index: 9999; }

#top-nav .top-mobile-nav {
  display: block;
  margin: 0 0 0 0.8em;
  color: #fff;
  font-size: 0.9em;
  line-height: 2.3em;
  text-decoration: none; }

#top-nav .top-mobile-nav span, #masthead2 .menu-toggle span {
  float: right;
  width: 30px;
  height: 34px;
  margin: 0 4px;
  background: url(images/global/sprite_elements.png) no-repeat 5px -390px; }

#masthead2 .menu-toggle span {
  margin-top: 15px; }

#top-nav ul.top-menu, #bottom-nav ul.bottom-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0; }

#top-nav ul.top-menu li, #bottom-nav ul.bottom-menu li {
  padding: 0;
  border: 1px solid #999;
  border-top: 0;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  background: #c4c4c5;
  cursor: pointer; }

#top-nav ul.top-menu li {
  height: 100%;
}

#top-nav ul.top-menu li h3, #bottom-nav ul.bottom-menu li h3 {
  padding: 10px 10px 0;
  font-size: 1em;
  margin: 0 10px 0 0;
  letter-spacing: 0em;
  line-height: 2em; }

#top-nav ul.top-menu li h3 a, #bottom-nav ul.bottom-menu li h3 a {
  width: 100%;
  display: inline-block; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */
  #top-nav ul.top-menu li h3, #bottom-nav ul.bottom-menu li h3 {
    padding: 10px 10px 0; } }
#top-nav ul.top-menu li:hover, #bottom-nav ul.bottom-menu li:hover {
  background-color: #aaaaac; }

#top-nav ul.top-menu li.selected, #bottom-nav ul.bottom-menu li.selected {
  background-color: #aaaaac; }

#top-nav ul.top-menu li a, #bottom-nav ul.bottom-menu li a {
  text-decoration: none;
  color: #000; }

#top-nav ul.top-sub-menu, #bottom-nav ul.bottom-sub-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0; }

#top-nav ul.top-sub-menu li, #bottom-nav ul.bottom-sub-menu li {
  margin: 0;
  padding: 4px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 100%;
  font-size: 1em;
  font-weight: 100;
  background-color: #dddddc; }

#top-nav ul.top-sub-menu li:hover, #bottom-nav ul.bottom-sub-menu li:hover {
  background-color: #f1f1f1; }

#top-nav ul.top-sub-menu li:first-child, #bottom-nav ul.bottom-sub-menu li:first-child {
  border-top: 1px solid #999; }

#top-nav ul.top-sub-menu ul li:first-child {
  border-top: 0; }

#top-nav ul.top-sub-menu ul li a {
  padding: 0 20px 0 30px; }

#top-nav ul.top-sub-menu li a, #bottom-nav ul.bottom-sub-menu li a {
  padding: 0 20px;
  display: block; }

.parent-link {
  font-size: 1.6em;
  color: #333;
  font-family: 'Open Sans Condensed';
  padding-left: 0.7em;
  text-transform: uppercase;
  line-height: 2em;
  /*position: relative;
  top: 0.8em;*/ }

.parent-link a {
  color: #333; }

.parent-link a:hover {
  text-decoration: none; }

/*==========================================================
3. BODY CONTENT
==========================================================*/
#main-container {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 0 0;
  min-height: 100px;
  font-size: 0.9em; }

.front-page #main-container {
  padding: 30px 0 0 0; }

.breadcrumb {
  margin-left: 0; }

.eq-ht-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 1em 0 3em 0;
  text-align: center; }

.text-widget {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1em; }

.page-title {
  text-transform: uppercase;
  font-size: 2.6em;
  color: #666;
  font-family: 'Open Sans Condensed';
  margin: 0.6em 0 0.4em 0;
  font-weight: 400; }

.entry-title {
  text-transform: uppercase;
  font-size: 2.0em;
  color: #000;
  font-family: 'Open Sans Condensed';
  margin: 0.6em 0 0.4em 0; }

table.body-content-table td {
  border: 1px solid #999;
  padding: .25em .75em;
  vertical-align: top;
  text-align: left; }

/*----------------------plug in styles----------------------------*/
.email-link {
  font-size: 0.9em; }

.staff-grid-title h6 {
  margin-top: .5em;
  text-align: center; }

/* ------ TEMPLATE CONTAINER OPTIONS (1024 vs full-width) ------- */
.full-width-container {
  width: 100%;
  margin: 0 auto; }

.ten-twenty-four-container {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100px; }

.ten-twenty-four {
  max-width: 1024px;
  margin: 0 auto; }

.loop-padding {
  padding: 1em; }

.pledge-container {
  width: 100%; }

.pledge-img {
  text-align: center;
  width: 100%;
  padding: 1em; }

.pledge-img img {
  width: 100%; }

.pledge-copy {
  text-align: center;
  width: 100%; }

/* ------ BOOTSTRAP GRID STYLES ------ */
.container {
  padding: 0; }

.container-fluid {
  padding: 0; }

.utah-table-bordered table, .utah-table-bordered th, .utah-table-bordered td {
  border: 1px solid black; }

/* ------ 2 COLUMN PAGE LAYOUT STYLES ------ */
.main-channel {
  border: 1px solid #e1e1e1;
  padding: 0;
  margin: 0 0 1em 0; }

.main-channel .content-padding {
  padding: 0 1em 1em 1em; }

.two-column-margin {
  margin: 1em; }

.right-channel {
  float: left; }

.right-channel p {
  line-height: 1.3em;
  margin: 0 0 1em 0; }

.right-channel img {
  width: 100%;
  margin: 0 0 1em 0;
  border: 1px solid #ccc; }

.right-channel h3 {
  font-family: 'Open Sans';
  font-size: 1.2em;
  padding: .2em 0 0.5em 0;
  margin: 0;
  font-weight: 400;
  color: #fff; }

/* ------ SIDEBAR WIDGETS ------ */
.dark-gray-sidebar {
  background: #333;
  padding: 1.3em;
  color: #fff;
  margin-bottom: 1em; }

.dark-gray-sidebar a {
  color: #fff; }

.dark-gray-sidebar dt {
  color: #fff; }

.light-gray-sidebar {
  background: #e1e1e1;
  padding: 1.3em;
  color: #333;
  margin-bottom: 1em; }

.light-gray-sidebar a {
  color: #333; }

.light-gray-sidebar h3 {
  color: #cc0000; }

.white-sidebar {
  border: 1px solid #e1e1e1;
  padding: 1.3em;
  color: #333;
  margin-bottom: 1em; }

.white-sidebar a {
  color: #333; }

.white-sidebar h3 {
  color: #cc0000; }

.red-sidebar {
  border: 1px solid #e1e1e1;
  background: #cc0000;
  padding: 1.3em;
  color: #fff;
  margin-bottom: 1em; }

.red-sidebar a {
  color: #fff; }

.red-sidebar h3 {
  color: #fff; }

.dark-gray-sidebar h3, .light-gray-sidebar h3, .white-sidebar h3, .red-sidebar h3 {
  font-weight: bold;
  font-size: 1.35em; }

/*----------------------Next Gen Gallery Sidebar styles----------------------------*/
.ngg-widget > a > img {
  width: 32%; }

/* ------ IMAGE SLIDER BANNER TEXT ------ */
.banner-text {
  text-transform: uppercase;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: 'Open Sans Condensed';
  padding: 0.1em .5em 0.2em 0.25em; }

.banner-text-position {
  position: absolute;
  bottom: 16%; }

.banner-text-no-sub {
  text-transform: uppercase;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: 'Open Sans Condensed';
  padding: .35em; }

.banner-text-position-no-sub {
  position: absolute;
  bottom: 20%; }

.banner-headline {
  font-size: 1.2em; }

.banner-subtext {
  font-size: .8em;
  padding-left: 5px; }

.flex-control-nav {
  display: none;
  bottom: 26px; }

.feature.feature-grey {
  padding: 1.4em;
  color: #fff;
  background-color: #333333;
  margin-bottom: 1em; }

.feature.feature-border .feature-description .learn-more a {
  padding-bottom: 0; }

.learn-more a {
  color: #cc0000;
  text-decoration: none;
  display: inline-block;
  padding: 0; }

/* ------ BODY CALLOUT BOX ------- */
.body-callout-box {
  border-top: 1px solid #f1f1f1;
  color: #333;
  padding: 3em 0;
  text-align: center;
  margin: 0 auto; }

.white-no-border-callout {
  border: 0; }

@media only screen and (max-width: 950px) {
  .white-no-border-callout {
    padding: 0 1em; } }
.body-callout-wrapper {
  max-width: 1000px;
  margin: 0 auto; }

.body-callout-box h2 {
  font-family: 'Open Sans';
  font-size: 2em;
  padding: 0.7em 0;
  margin: 0;
  font-weight: 400; }

.body-callout-box .callout-image img {
  width: 100%;
  border: 1px solid #e1e1e1; }

.body-callout-box .callout-description {
  font-size: 0.9em; }

.col-sm-8 .body-callout-box h2 {
  padding-top: 0; }

.dark-gray-callout {
  background: #333;
  color: #fff; }

.dark-gray-callout a {
  color: #fff; }

.light-gray-callout {
  background: #e1e1e1;
  color: #333; }

.light-gray-callout a {
  color: #333; }

.white-callout {
  border: 1px solid #e1e1e1;
  color: #333; }

.white-callout a {
  color: #333; }

.red-callout {
  background: #cc0000;
  color: #fff; }

.red-callout a {
  color: #fff; }

.red-callout h2 {
  color: #fff; }

dt {
  background: url(images/global/icon-plus.png) no-repeat 0 5px;
  padding: 0 0 0 22px;
  color: #ff0000;
  cursor: pointer;
  margin: 0.5em 0;
  font-weight: bold; }

dt.accordian-expanded {
  background: url(images/global/icon-minus.png) no-repeat 0 5px; }

dt:hover {
  text-decoration: underline; }

dd {
  display: none; }

.dt {
  background: url(images/global/icon-plus.png) no-repeat 0 5px;
  padding: 0 0 0 22px;
  color: #ff0000;
  cursor: pointer;
  margin: 0.5em 0;
  font-weight: bold; }

.dt.accordian-expanded {
  background: url(images/global/icon-minus.png) no-repeat 0 5px; }

.dt:hover {
  text-decoration: underline; }

.dd {
  display: none;
  padding: 0 0 0 22px; }

.inline-img-right, .inline-img-left {
  padding: 0; }

.inline-img-right p, .inline-img-left p {
  font-size: .8em;
  max-width: 300px;
  font-style: italic;
  line-height: 1.5em; }

.inline-img-right img, .inline-img-left img {
  width: 100%;
  padding: 0 0 1em 0; }

/* ------ Footer callout box  --  may not need these styles ------- */
.footer-callout-box {
  background: #999;
  color: #fff;
  padding: 0 1em;
  text-align: center;
  margin: 0 auto; }

.footer-callout-box h2 {
  font-family: 'Open Sans';
  font-size: 2em;
  padding: 0.7em 0;
  margin: 0;
  font-weight: 400; }

.footer-callout-box .copy {
  padding: 0 1em 1em 0;
  max-width: 960px;
  margin: 0 auto;
  font-size: 0.9em; }

.footer-callout-box .callout-button {
  padding: 0 0 2em 0; }

/* =======================================
    Widget Specific Styles to be added
========================================== */
.eq-ht-wrapper.middle {
  padding: 2em 0; }

.lg-gray {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 300;
  color: #919191; }

.full-image {
  padding: 0;
  border: 0; }

.full-image .bottom {
  padding: 1% 4% 4% 4%; }

.lter-grey {
  background: #f4f4f4; }

.lter-grey h3, .lter-grey h4, .lter-grey a.title, .lter-grey p {
  opacity: 0.75;
  -webkit-transition: opacity 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out;
  -ms-transition: opacity 400ms ease-in-out;
  -o-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out; }

.lter-grey a.title:hover, .lter-grey a.title:focus {
  opacity: 1; }

.lter-grey h3 {
  font-size: 1.75em;
  font-weight: 600;
  margin-bottom: 0.5em; }

.lter-grey .subtitle {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  text-align: center; }

.mfp-content h3 {
  margin-top: 0px;
  font-weight: 300;
  font-family: 'Open Sans';
  font-weight: 300; }

.staff h3 {
  font-size: 1.4em;
  font-weight: 300; }

.staff h3:active, .staff h3:hover {
  text-decoration: underline;
  cursor: pointer; }

.learn-more.image {
  margin-top: 0; }

.learn-more.image:active, .learn-more.image:hover {
  cursor: pointer; }

.full-page-gallery .ngg-widget > a > img {
  /*next gen gallery override*/
  width: 24.7%; }

@media only screen and (min-width: 766px) {
  .eq-ht.col-3.col-3-spaced {
    margin: 10px 3%;
    width: 28.667%; }

  .eq-ht.col-3.col-3-spaced:last-child {
    margin: 10px 1% 10px 3%; }

  .eq-ht.col-3.col-3-spaced:first-child {
    margin: 10px 3% 10px 1%; }

  .col-3-spaced.middle-raised {
    margin-top: -20px !important; } }
@media only screen and (min-width: 950px) {
  .rectangle .image {
    width: 50%;
    float: left; }

  .rectangle .bottom {
    float: right;
    width: 50%; }

  .rectangle .image, .rectangle .bottom {
    height: 145px;
    overflow: hidden; } }
.rectangle .department h3 {
  font-size: 1.1em;
  font-weight: 300; }

.rectangle .subtitle {
  font-size: 1.1em; }

/* ----- related posts ----- */
.relatedposts h3 {
  text-transform: uppercase;
  font-size: 1.75em;
  font-family: 'Open Sans Condensed', sans-serif; }

.relatedposts .eq-ht-wrapper {
  padding: 0; }

.relatedposts .relatedthumb {
  padding: 0;
  border: 0;
  /*  margin-left:2%;
  */ }

/*.relatedposts .relatedthumb:first-of-type {
    margin-left:0;
}

.relatedposts .relatedthumb:last-of-type{
    margin-right:0;
}*/
.relatedthumb {
  display: inline;
  float: left;
  /*margin-right:2%;*/ }

.relatedposts .relatedthumb img {
  padding: 0;
  height: auto;
  margin-bottom: 1em;
  display: block; }

.relatedposts .relatedthumb .title {
  font-size: 1.25em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000; }

.relatedposts .relatedthumb a.title:hover, .relatedposts .relatedthumb a.title:focus {
  color: #cc0000; }

.relatedposts .related-date {
  font-size: 1em;
  font-family: 'Open Sans Condensed', sans-serif; }

/* ---- social tab styles ---- */
#tab1-content, #tab2-content, #tab3-content {
  position: absolute;
  margin-left: -9999px;
  font-size: 16px;
  text-align: left;
  font-weight: 300; }

.tabs {
  width: 100%;
  margin: 0 auto; }

.tabs div h2 {
  font-weight: 300; }

.tabs div h2:hover {
  cursor: pointer; }

.tab {
  display: inline-block;
  /*magic*/
  height: 70px;
  width: 100%; }

@media only screen and (min-width: 950px) {
  .tab {
    width: 33%; } }
.tab a {
  height: 100%;
  width: 100%;
  display: block; }

/* ------------ Carousel 2 Entries Slides -------- */
.slick-slider.ngg-widget {
  overflow: visible !important;
  margin-bottom: 50px !important; }

.slick-2carousel.left {
  float: left;
  width: 100%; }

.slick-2carousel .slick-slide:nth-child(odd) {
  padding-right: 0.75em; }

.slick-2carousel .slick-slide:nth-child(even) {
  padding-left: 0.75em; }

.carousel-title, .widget.ngg_images .widget-title {
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 2.75em;
  font-weight: 400;
  color: #909090;
  margin-top: 0;
  text-transform: uppercase; }

.slick-2carousel {
  font-size: 1.1em;
  color: #909090; }
  .slick-2carousel .date {
    display: block;
    margin-bottom: 0.5em; }

@media only screen and (min-width: 1200px) {
  .slick-2carousel .slick-slide {
    min-height: 233px; } }
@media only screen and (max-width: 1200px) {
  .slick-2carousel .slick-slide:nth-child(odd), .slick-2carousel .slick-slide:nth-child(even) {
    padding: 0.25em !important; }

  .slick-2carousel.left {
    margin-bottom: 6em; } }
@media only screen and (max-width: 525px) {
  .slick-2carousel .slick-slide {
    text-align: center; }
    .slick-2carousel .slick-slide img, .slick-2carousel .slick-slide .youtube-img {
      margin: 0 auto; } }
/* ----------- Carousel 3 or More Slides --------------- */
.slick-3nUP {
  font-size: 1.1em;
  color: #909090; }
  .slick-3nUP .date {
    display: block;
    margin-bottom: 0.5em; }

.slick-3nUP .slick-slide, .slick-6carousel .slick-slide {
  padding: 0.25em; }

@media only screen and (max-width: 525px) {
  .slick-3nUP .slick-slide, .slick-6carousel .slick-slide {
    text-align: center; }
    .slick-3nUP .slick-slide img, .slick-3nUP .slick-slide .youtube-img, .slick-6carousel .slick-slide img, .slick-6carousel .slick-slide .youtube-img {
      margin: 0 auto; } }
/* ----------- Carousel 6 Slides --------------- */
.ngg-widget.slick-6carousel a > img {
  width: 100%;
  border: 0px none;
  padding: 0px;
  margin: 0px 4px 8px; }

.slick-6carousel .slick-prev, .slick-6carousel .slick-next {
  bottom: -35px; }

.slick-6carousel .slick-next {
  right: -7px; }

.slick-6carousel .slick-dots {
  bottom: -50px; }

/* ---------------- Image Styles ----------------------- */
.light-gray-border {
  border: 1px solid #ECECEC;
  padding: 0.75em !important; }

.entry-content .alignnone.light-gray-border, .entry-content .alignleft.light-gray-border {
  margin: 0.4em 1em 1em 0em; }

.entry-content .aligncenter.light-gray-border {
  margin: 1em; }

.entry-content .alignright.light-gray-border {
  margin: 0.4em 0em 1em 1em; }

/* ---- Post Date Display ---- */
.entry-meta {
  padding-top: 1em; }

/* --------------------- Fixed element ------------------ */
.white-sidebar.fixed {
  width: 234px; }

.element-scroll.active {
  position: fixed;
  top: 80px; }

/* ------- Pagination --------- */
.pagination {
  /*background: #cc0000;*/
  /*color: #fff;*/
  text-align: center;
  /*width: 200px;*/
  /*padding: 0.4em 2em;*/
  font-family: 'Open Sans Condensed', sans-serif;
  cursor: pointer;
  margin: 0 auto 2em auto;
  display: none; }

.pagination a {
  /*color: #fff; */ }

.nav-older {
  display: inline;
  float: right; }

.nav-newer {
  display: inline;
  float: left; }

/*==========================================================
4. FOOTER
==========================================================*/
#footer-container {
  background: #333;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  position: relative;
  z-index: 1; }

#bottom-nav {
  background: #686869;
  width: 94%;
  margin: 0.85em auto;
  min-height: 34px; }

#bottom-nav .bottom-mobile-nav {
  display: block;
  margin: 0 0 0 0.8em;
  color: #fff;
  font-size: 0.9em;
  line-height: 2.3em;
  text-decoration: none; }

#bottom-nav .bottom-mobile-nav span {
  float: right;
  width: 30px;
  height: 34px;
  margin: 0 4px;
  background: url(images/global/sprite_elements.png) no-repeat 5px -390px; }

/* -----------------------------------------
    FOOTER BRANDING AREA
-------------------------------------------*/
#footer-container .brand-area {
  width: 90%;
  margin: 0 auto;
  color: #fff; }

#footer-container .bottom-brand img {
  max-width: 100%; }

#footer-container .brand-area h3 {
  font-size: 0.8em;
  letter-spacing: 0.07em;
  line-height: 1.2em; }

#footer-container .brand-area p {
  line-height: 1.2em;
  margin-top: 5px; }

/* ------ footer address area ----------*/
#footer-container .address {
  float: left;
  width: 100%;
  font-size: .6em; }

#footer-container .address a {
  color: #fff;
  text-decoration: underline; }

#footer-container .address .spacer {
  margin: 15px 0 0 0; }

/* ------ footer social icons ---------*/
#footer-container .socons {
  float: left;
  padding: 0;
  width: 100%; }

#footer-container .socons .spacer {
  margin: 15px 2% 0 0; }

#footer-container .socons h3 {
  margin: 0; }

#footer-container .socons ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  overflow: hidden; }

#footer-container .socons li {
  float: left;
  margin: 0 20px 15px 0; }

.socons .umc-icon-list a {
  width: 24px;
  height: 24px;
  padding: 0;
  text-indent: -900em; }

/* -- icon lists link background --*/
.umc-icon-list {
  list-style: none; }

/* -----------------------------------------
    ICON LIST LINK IMAGES (hover state using sprite)
-------------------------------------------*/
.umc-icon-list li a {
  background: url(images/global/spritesheet-share-icons.png) no-repeat;
  display: block;
  padding-left: 35px; }

.umc-icon-list a.facebook-link {
  background-position: 0 -30px; }

.umc-icon-list a.facebook-link:hover, .icon-list a.facebook-link:focus {
  background-position: 0 -30px; }

.umc-icon-list a.twitter-link {
  background-position: -30px -30px; }

.umc-icon-list a.twitter-link:hover, .icon-list a.twitter-link:focus {
  background-position: -30px -30px; }

.umc-icon-list a.googleplus-link {
  background-position: -90px -30px; }

.umc-icon-list a.googleplus-link:hover, .icon-list a.googleplus-link:focus {
  background-position: -90px -30px; }

.umc-icon-list a.youtube-link {
  background-position: -150px -30px; }

.umc-icon-list a.youtube-link:hover, .icon-list a.youtube-link:focus {
  background-position: -150px -30px; }

.umc-icon-list a.instagram-link {
  background-position: -120px -30px; }

.umc-icon-list a.instagram-link:hover, .icon-list a.instagram-link:focus {
  background-position: -120px -30px; }

.umc-icon-list a.linkedin-link {
  background-position: -180px -30px; }

.umc-icon-list a.linkedin-link:hover, .icon-list a.linkedin-link:focus {
  background-position: -180px -30px; }

/* -----------------------------------------
    CIS & UMAIL ICON LIST LINK IMAGES
-------------------------------------------*/
.umc-icon-list a.cis-link {
  background: url(images/global/sprite_elements.png) no-repeat;
  background-position: 0 -900px; }

.umc-icon-list a.umail-link {
  background: url(images/global/sprite_elements.png) no-repeat;
  background-position: 0 -1000px; }

/*==========================================================
5. HELPER CLASSES
==========================================================*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/*==========================================================
6. MEDIA QUERIES
==========================================================*/
/* ------ Anything smaller than the desktop -------------- */
@media only screen and (max-width: 1040px) {
  .adamrob_parallax_container_fullwidth {
    height: auto !important;
    min-height: 100px;
    margin-left: -1em;
    margin-right: -1em; }

  .adamrob_parallax {
    position: relative !important;
    background-attachment: scroll !important; }

  .fixed-wrapper .window-fixed {
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important; } }
@media only screen and (max-width: 950px) {
  #header-container-desktop {
    display: none !important; }

  /* Menu Item Drop Down Arrows for Smaller than 950px */
  #top-nav ul.top-menu li.menu-item-has-children h3, #bottom-nav ul.bottom-menu li.menu-item-has-children h3 {
    background: url(images/global/arrow_left.png) right no-repeat; }

  #top-nav ul.top-menu li.menu-item-has-children.selected h3, #bottom-nav ul.bottom-menu li.menu-item-has-children.selected h3 {
    background: url(images/global/arrow_down.png) right no-repeat; } }
@media only screen and (max-width: 766px) {
  #header-container.has-slideshow .main-headline h1 {
    color: #333;
    text-shadow: none; }
    #header-container.has-slideshow .main-headline h1 a {
      color: #333;
      text-shadow: none; } }
@media only screen and (max-width: 445px) {
  .tab-content img {
    width: 100%;
    height: auto; } }
/* --------- LARGE MOBILE/PHABLET SCREEN SIZE ----------- */
@media only screen and (min-width: 480px) {
  #search {
    width: 162px; }

  /* -- social icons & brand --*/
  #footer-container .bottom-brand,
  #footer-container .socons {
    float: right;
    padding: 0; }

  #footer-container .bottom-brand .spacer,
  #footer-container .socons .spacer {
    margin: 0 0 1em 1em; }

  /* -- address --*/
  #footer-container .address {
    float: left;
    width: auto; }

  .banner-text-position {
    position: absolute;
    bottom: 16%; }

  .banner-text {
    padding: 0.4em 1em 0.295em 0.5em;
    display: inline-block; }

  .banner-headline {
    font-size: 2.4em; }

  .banner-subtext {
    padding-left: .9em;
    font-size: 1.8em; }

  .flex-control-nav {
    display: block; }

  #utah-logo {
    padding-right: 1em; }

  .pledge-img {
    max-width: 500px;
    margin: 0 auto; }

  .inline-img-left {
    float: left;
    padding: 0 20px 20px 0; }

  .inline-img-right {
    float: right;
    padding: 0 0 20px 20px; }

  .inline-img-right img, .inline-img-left img {
    max-width: 300px; } }
/* --------- TABLET SCREEN SIZE (PORTRAIT iPAD) ----------- */
@media only screen and (min-width: 766px) {
  #header-container.has-slideshow, #header-container.has-parallax-header {
    position: absolute;
    z-index: 500; }

  #utah-logo {
    position: relative;
    top: 20px;
    background-color: #cc0000;
    cursor: pointer; }

  .main-headline {
    padding: 1.8em 0 1em 0; }

  .top-menu {
    z-index: 999; }

  #top-nav {
    width: 330px;
    display: inline;
    float: right;
    margin: -0.7em 1em 0 0;
    background: #333; }

  #top-nav ul.top-menu {
    width: 330px;
    position: absolute; }

  #search-area {
    margin: 1.5em 1em 0 .5em; }

  .header-color {
    background: transparent; }

  .main-headline {
    background: 0; }

  #header-bg-image {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 230px;
    z-index: -1; }

  .main-headline {
    background-image: none !important; }

  /* Parallax Background Header */
  #parallax-header {
    min-height: 500px;
    z-index: -1; }

  .banner-headline {
    font-size: 3.4em; }

  .banner-subtext {
    padding-left: .9em;
    font-size: 2.1em; }

  body.ten-twenty-four #header-bg-image {
    max-width: 1024px; }

  .right-channel {
    float: right;
    padding-right: 0;
    padding-left: 30px; }

  .left-channel {
    float: left;
    padding-left: 0;
    padding-right: 30px; }

  #header-bg-image img {
    width: 100%;
    height: 230px;
    z-index: -1; }

  .pledge-container {
    max-width: 765px;
    margin: 0 auto; }

  .pledge-img {
    width: 33%;
    float: left;
    margin: 0; }

  .pledge-copy {
    width: 66%;
    float: left;
    margin: 0;
    text-align: left;
    padding: 3.7em 1em 1em 1em; }

  .utah-table-bordered table {
    width: 100%; }

  .utah-table-bordered td {
    width: 20%; } }
/* --------- DESKTOP SCREEN SIZE (AND LANDSCAPE iPAD) ----------- */
@media only screen and (min-width: 950px) {
  #header-container {
    background: transparent url(images/global/bg_header_extent.png) center 20px no-repeat; }

  .fixed-wrapper {
    position: relative;
    z-index: 1; }
    .fixed-wrapper .window-fixed {
      position: fixed;
      width: 100%;
      z-index: 1; }

  header h1 {
    font-size: 2.3em;
    padding-top: 0.3em; }

  /* Header Effects for Desktop */
  #header-container.has-slideshow, #header-container-desktop {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%; }

  #header-container-desktop .left, #header-container-desktop .right {
    height: 65px; }
  #header-container-desktop .left {
    overflow: hidden; }
  #header-container-desktop .department {
    font-size: 1.1em;
    line-height: 1.1;
    text-shadow: none;
    text-transform: uppercase;
    float: left;
    /* department name and subtitle */ }
    #header-container-desktop .department .name {
      font-size: 1.5em; }
    #header-container-desktop .department a, #header-container-desktop .department a:hover, #header-container-desktop .department a:focus, #header-container-desktop .department a:visited, #header-container-desktop .department a:active {
      color: #fff !important;
      text-decoration: none !important; }
    #header-container-desktop .department a:hover, #header-container-desktop .department a:focus {
      text-shadow: 2px 2px #660000; }
  #header-container-desktop .desc-null .department {
    margin: 14px 0 0 0; }
  #header-container-desktop .desc-null #block-u-logo {
    width: 35px;
    background-size: 35px;
    background-position: 0 6px; }
  #header-container-desktop .desc-present .department {
    margin: 4px 0 0 0; }
    #header-container-desktop .desc-present .department .name {
      font-weight: bold; }

  #masthead2 .left {
    background: #cc0000;
    padding: 0 10px 0 0; }

  #header-container-desktop {
    display: none;
    background: transparent; }
    #header-container-desktop .secondary-header {
      max-width: 927px; }
    #header-container-desktop #masthead2 {
      position: relative;
      background: #333;
      height: 65px; }
      #header-container-desktop #masthead2:before, #header-container-desktop #masthead2:after {
        content: "";
        height: 65px;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 9600px;
        right: 100%;
        background: #cc0000; }
      #header-container-desktop #masthead2:after {
        left: 100%;
        background: #333; }

  #parallax-header {
    top: 0;
    z-index: -1;
    background-attachment: fixed; }

  #top-nav {
    margin: -14px 0 0 0;
    width: auto;
    z-index: 9999; }

  #top-nav a.top-mobile-nav {
    display: none; }

  #top-nav ul.top-menu {
    display: block;
    position: relative;
    width: auto; }

  #top-nav ul.top-menu li {
    display: inline;
    float: left;
    border: 0;
    background: transparent;
    color: #fff; }

  #top-nav ul.top-menu li h3, #bottom-nav ul.bottom-menu li h3 {
    background: transparent; }

  #top-nav ul.top-menu li h3 {
    margin: -5px 5px;
    font-weight: 600; }

  #top-nav ul.top-menu li:hover {
    background: #000; }

  #top-nav ul.top-menu li.selected {
    background: #000; }

  #top-nav ul.top-menu li a {
    color: #fff;
    padding: 0; }

  #top-nav ul.top-menu ul.sub-menu {
    padding-top: 8px;
    position: absolute;
    width: 14em;
    background: transparent url(images/global/sprite_elements.png) 18px -700px no-repeat; }

  #top-nav ul.top-menu {
    height: 34px;
    overflow: hidden; }

  #top-nav ul.top-sub-menu {
    padding-top: 8px;
    position: absolute;
    width: 14em;
    background: transparent url(images/global/sprite_elements.png) 18px -700px no-repeat; }

  #top-nav ul.top-sub-menu li {
    background-color: #333;
    font-size: .9em;
    line-height: 1.7em;
    padding: .8em 1.2em;
    font-weight: 100; }
    #top-nav ul.top-sub-menu li.menu-item {
      padding: 0; }
      #top-nav ul.top-sub-menu li.menu-item a {
        padding: .8em 1.2em; }

  #top-nav ul.top-sub-menu ul {
    width: 11.8em;
    position: relative;
    background: 0; }

  #top-nav ul.top-sub-menu ul li {
    position: relative;
    margin: 0 0 0 -1.2em;
    padding: 0.4em 4em 0.4em 2em;
    font-size: 1em; }

  #top-nav ul.top-sub-menu ul li a {
    padding: 0; }

  #top-nav ul.top-sub-menu li:first-child {
    border-top: 0; }

  #main-container {
    position: relative;
    /*z-index:-9;*/ }

  #masthead2 #top-nav > ul > li > h3 {
    margin: 25px 5px 10px; }

  /* ---- bottom nav -----*/
  #footer-container footer {
    margin: 0 auto;
    max-width: 1004px; }

  #bottom-nav {
    width: auto;
    background: transparent;
    float: left;
    line-height: 1em; }

  #bottom-nav a.bottom-mobile-nav {
    display: none; }

  #bottom-nav ul.bottom-menu {
    display: block;
    position: relative;
    width: auto;
    margin: 1em 0 0 1em; }

  #bottom-nav ul.bottom-menu li {
    display: inline;
    float: left;
    border: 0;
    background: transparent;
    color: #fff;
    width: 16em;
    font-weight: 100; }

  #bottom-nav ul.bottom-menu li h3 {
    text-shadow: 0 0 5px #000;
    padding: 0; }

  #bottom-nav ul.bottom-menu li:hover {
    background: 0; }

  #bottom-nav ul.bottom-menu li.selected {
    background: 0; }

  #bottom-nav ul.bottom-menu li a {
    text-decoration: none;
    color: #fff; }

  #bottom-nav ul.bottom-sub-menu {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0; }

  #bottom-nav ul.bottom-sub-menu li {
    display: block;
    float: none;
    width: auto;
    padding: 0.5em 0 0 0;
    margin: 0;
    font-size: 0.8em; }

  #bottom-nav ul.bottom-sub-menu li:hover {
    background-color: transparent; }

  #bottom-nav ul.bottom-sub-menu li:first-child {
    border-top: 0; }

  #bottom-nav ul.bottom-sub-menu li a {
    padding: 0; }

  #bottom-nav ul.bottom-sub-menu li a:hover {
    text-decoration: underline; }

  /* ---- branding area -----*/
  #footer-container .brand-area {
    float: right;
    width: 30%;
    margin: 1.3em auto; }

  /* -- bottom brand --*/
  #footer-container .bottom-brand {
    float: left;
    margin-top: -8px;
    width: 100%; }

  #footer-container .bottom-brand .spacer {
    margin: 0 0 1em 0; }

  /* -- address ---*/
  #footer-container .address {
    float: left;
    margin: 0;
    width: 100%; }

  #footer-container .address .spacer {
    margin: 0; }

  /* -- social icons ---*/
  #footer-container .socons {
    float: left;
    width: auto; }

  #footer-container .socons .spacer {
    margin: 0 3px 0 2em; }

  #footer-container .socons li {
    margin: 0 10px 10px 0; } }
/*==========================================================
7. PRINT STYLES
==========================================================*/
@media print {
  /* ========= Global Styles ========== */
  #header-container, footer, #footer, nav, #footer-container, .widget_search {
    display: none; }

  #content {
    display: block; }

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
  pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s,
  samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
  form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    color: #000;
    background: #fff; }

  /* try to avoid page breaks in bad places */
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid;
    page-break-after: avoid; }

  blockquote, table, pre {
    page-break-inside: avoid; }

  ul, ol, dl {
    page-break-before: avoid; } }
/* ======== Revolution Slider ================= */
.rev_slider_wrapper .simplebullets.custom {
  bottom: 20px !important; }
  .rev_slider_wrapper .simplebullets.custom .bullet {
    background: transparent;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: 0 10px;
    display: inline-block;
    border: 2px solid #fff; }
    .rev_slider_wrapper .simplebullets.custom .bullet:hover, .rev_slider_wrapper .simplebullets.custom .bullet:focus {
      background: rgba(255, 255, 255, 0.5); }
  .rev_slider_wrapper .simplebullets.custom .bullet.selected {
    background: #fff; }

/* Slider Layer/Text Styles */
.uu-title-left-bar, .uu-subtitle-left-bar {
  position: relative; }
  .uu-title-left-bar:before, .uu-subtitle-left-bar:before {
    content: "";
    position: absolute;
    /* fill vertically */
    top: 0;
    bottom: 0;
    width: 9600px;
    right: 100%;
    background: rgba(0, 0, 0, 0.5); }

.uu-title-right-bar, .uu-subtitle-right-bar {
  position: relative; }
  .uu-title-right-bar:after, .uu-subtitle-right-bar:after {
    content: "";
    position: absolute;
    /* fill vertically */
    top: 0;
    bottom: 0;
    width: 9600px;
    left: 100%;
    background: rgba(0, 0, 0, 0.5); }

/* ================== Adam Rob Parallax Plugin ===================== */
.adamrob_pcontainer div:first-child {
  display: none; }

/* ================== Slick Carousel ==================== */
/* ================= Pure Forms Styles ======================== */
.pure-form textarea, form textarea {
  line-height: 1.5; }

.pure-form select, form select {
  padding-top: 0.3em; }

@media only screen and (max-width: 400px) {
  input, textarea, select {
    width: 100%;
    display: block; }

  input[type="submit"], button[type="submit"], input[type="reset"], button[type="reset"] {
    width: auto;
    display: inline-block; } }
/* ================= Bootrap Overrides ======================== */
a:hover, a:focus {
  outline-style: none;
  outline-offset: 0; }

.tab_wrap .tab-content {
  padding: 1em;
  margin-bottom: 2em; }

/*# sourceMappingURL=style.css.map */
